accelerate==0.34.2
alembic==1.15.2
astunparse==1.6.3
babel==2.17.0
backrefs==5.8
black==25.1.0
catboost==1.2.3
cfgv==3.4.0
colorama==0.4.6
colorlog==6.9.0
datasets==3.0.1
dgl==2.1.0
diffusers==0.30.2
distlib==0.3.9
einops==0.8.1
ghp-import==2.1.0
greenlet==3.2.2
griffe==1.6.0
identify==2.6.8
importlib_resources==6.5.2
Jinja2==3.1.3
Mako==1.3.10
Markdown==3.7
markdown-exec==1.10.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mergedeep==1.3.4
mike==2.1.3
mkdocs==1.6.1
mkdocs-autorefs==1.4.0
mkdocs-gen-files==0.5.0
mkdocs-get-deps==0.2.0
mkdocs-glightbox==0.4.0
mkdocs-literate-nav==0.6.1
mkdocs-material==9.6.7
mkdocs-material-extensions==1.3.1
mkdocstrings==0.28.2
mkdocstrings-python==1.16.2
mypy==1.15.0
networkx==3.2.1
nodeenv==1.9.1
numpy==1.26.4
onnx==1.17.0
opencv-python==4.10.0.84
optuna==4.3.0
paginate==0.5.7
pandas==2.2.2
pathspec==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.0.0
plotly==5.14.1
pluggy==1.5.0
ply==3.11
pre_commit==4.1.0
protobuf==3.20.3
pytest==8.3.5
pyarrow==17.0.0
pyasn1-modules==0.2.8
Pygments==2.16.1
pygments-ansi-color==0.3.0
pymdown-extensions==10.14.3
PyQt5==5.15.10
pytest==8.3.5
python-dateutil==2.8.2
pytorch_frame==0.2.3
pytorch_tabnet==3.1.1
pytz==2024.1
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzmq==25.1.0
regex==2024.7.24
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruff==0.9.9
safetensors==0.4.5
scikit-learn==1.3.0
scipy==1.15.3
seaborn==0.12.2
sip==6.7.12
six==1.16.0
SQLAlchemy==2.0.41
sympy==1.13.1
tabpfn==0.1.0
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-plugin-wit==1.8.1
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
termcolor==2.4.0
torch==2.5.1+cu121
torch-frame==1.7.5
torch-geometric==2.6.1
torch_cluster==1.6.3+pt25cu121
torch_scatter==2.1.2+pt25cu121
torch_sparse==0.6.18+pt25cu121
torch_spline_conv==1.2.2+pt25cu121
torchaudio==2.5.1+cu121
torchdata==0.8.0
torchmetrics==1.6.0
torchvision==0.20.1+cu121
tornado==6.3
tqdm==4.65.0
traitlets==5.9.0
transformers==4.46.2
triton==3.1.0
typing_extensions==4.13.2
tzdata==2024.1
unicodedata2==15.0.0
urllib3==2.0.4
verspec==0.1.0
virtualenv==20.29.2
watchdog==6.0.0
wcwidth==0.2.6
Werkzeug==2.3.8
wrapt==1.15.0
xgboost==3.0.1
XlsxWriter==3.1.2
xxhash==3.2.0
yarl==1.9.2
zipp==3.18.0
